{{! 
{
  "vote_count": 4567,
  "id": 338970,
  "video": false,
  "vote_average": 6.5,
  "title": "Tangled",
  "popularity": 556.442346,
  "poster_path": "/tOGKPY2PnQCJT7LcMTU5uV7yKIL.jpg",
  "original_language": "en",
  "original_title": "Tangled",
  "genre_ids": [
  16,
  10751,
  14,
  10402
  ],
  "backdrop_path": "/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg",
  "adult": false,
  "overview": "The magically long-haired Rapunzel has spent her entire life in a tower, but now that a runaway thief has stumbled upon her, she is about to discover the world for the first time, and who she really is.",
  "release_date": "2010-11-24"
} 

}}
<div>{{title}}</div>
<div>{{release_date}}</div>
<div>{{overview}}</div>